/*INIZIO MENU*/

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #51231f;
  color: #fff;
}


/* demo styles */
body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
p, p a { font-size: 12px;text-align: center; color: #888; }

/*FINE MENU HAMBURGER*/





    #wrapper {
      position: relative;
    }

    #float1{
      position: absolute;
      float:left;
      
    }
    

    #float {
      float:right;
      position: absolute;
      top: 20px;
      margin-left: 442px;
      }





   /* INIZIO INPUTWIDTH*/

   #inputwidth{
    width:400px;
    height:100px;
    padding:5px;
    text-align: center;
    clear: both;
     }

#position{
  margin-top:200px;
  clear: both;
}


   .borderadius{
    -webkit-border-radius: 65px !important;
-moz-border-radius: 65px !important;
border-radius: 65px !important;
   }

